<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Aboutus" routerLinkActive="active">About US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active">contact US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product/Products" routerLinkActive="active">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product/cart" routerLinkActive="active">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user/login" routerLinkActive="active">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user/register" routerLinkActive="active">register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/insertproduct" routerLinkActive="active">Admin</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/slide.jpg" width="100px" alt="First slide">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/slide.jpg" width="100px" alt="First slide">
    </div>
  </div>
</div> -->
